@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #242424;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
.animate-spin-slow {
  animation: spin 50s linear infinite;
}
.animate-spin-fast {
  animation: spin 0.3s linear infinite;
}
.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.drag-glow {
  filter: drop-shadow(0 0 2em #61dafb88);
  transition: filter 0.2s ease;
}
.drag-glow-more {
  filter: drop-shadow(0 0 8em #61dafb88);
  transition: filter 0.2s ease;
}